<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<!-- new ? -->
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no, viewport-fit=cover"> -->
	<meta name="format-detection" content="telephone=no">
	<meta name="description" content="Description">
	<meta name="author" content="Lev & Dev">
	<meta name="publisher" content="https://t.me/levndev">
	
	<link rel="shortcut icon" type="image/x-icon" href="./favicon/favicon.ico">
	<link rel="shortcut icon" type="image/png" href="./favicon/favicon-16x16.png">
	<link rel="icon" type="image/svg+xml" href="./favicon/favicon-120x120.svg">
	<link rel="apple-touch-icon" href="./favicon/favicon-152x152.png">
	<link rel="apple-touch-icon" sizes="152x152" href="./favicon/favicon-152x152.png">
	<link rel="apple-touch-icon" sizes="76x76" href="./favicon/favicon-76x76.png">
	<link rel="apple-touch-startup-image" href="./favicon/favicon-152x152.png">
	<meta name="msapplication-TileColor" content="#FFFFFF">
	<meta name="msapplication-TileImage" content="./favicon/favicon-270.png">

	<title>PROJECT</title>

	<link rel="stylesheet" href="./css/main.css">
</head>
<body>
	<div id="wrapper" class="wrapper">
		<header id="header" class="header">

			HEADER

		</header>